@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import './media';
@import './reset';
@import './mixins';
@import './variables';

.hero__container {
    padding: 2rem;
    background-color: $color-primary;
    color: $color-secondary;
    height: 95vh;

    @include flexCenter(column, none, flex-end, center);
    .hero__nav {
        height: 66%;
        @include flexCenter(column, none, space-between, center);
        .nav__logo {
            border-right: 1px solid;
            padding: 2rem;

            @include flexCenter(column, none, none, center);
            .logo__title {
                font-size: 5rem;
                display: inline-block;
                font-weight: 400;
                text-align: right;
                line-height: 3.8rem;
                span {
                    display: block;
                }
            }
            .logo__subtitle {
                text-align: center;
                font-size: 2rem;
                line-height: 1.6rem;
            }
            
        }
        .nav-btn {
            position: absolute;
            top: 2rem;
            right: 2rem;

            text-decoration: none;
            font-size: 2rem;
            color: $color-secondary;
            .fa-times {
                font-size: 2.5rem;
            }
        }
        .nav__menu {
            @include flexCenter(column, none, none, none);
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                text-align: center;
                a {
                    text-decoration: none;
                    color: $color-secondary;
                    font-size: 4rem;
                }
            }
        }
        .git-atalho {
            text-decoration: none;
            font-size: 3rem;
            .fab {
                color: $color-secondary;
            }
        }
    }
}

.main__container {
    .about__container {
        @include flexCenter(none, wrap, center, center);
        .about__text {
            @include flexCenter(column, none, center, center);
            padding: 2rem;
            // height: 42rem;
            p {
                font-size: 2rem;
                text-align: center;
            }
        }
        .about__img {
            @include flexCenter(none, none, center, center);
            width: 100%;
            background-color: $color-primary;
            padding: 3rem;
            // background-color: $color-primary;
            .img-profile {
                width: 200px;
                border-radius: 50%;
                filter: grayscale(1);
            }
        }
    }

    .skills__container {
        padding: 2rem;
        height: 42rem;
        background-color: $color-secondary;
        @include flexCenter(column, none, space-evenly, center);
        .section__title {
            font-size: 4rem;
            color: $color-primary;
            text-align: center;
        }
        .skill__list {
            @include resetList;
            @include flexCenter(column, none, space-around, center);
            li {
                a {
                    text-decoration: none;
                    font-size: 2.3rem;
                    color: $color-primary;
                    display: block;
                    width: 20rem;

                    @include flexCenter(row, none, space-between, center);
                    .bar {
                        border: 1px solid;
                        width: 10rem;
                        height: 2rem;

                        .progress-bar-html {
                            background-color: $color-primary;
                            height: 100%;
                            width: 70%;
                        }

                        .progress-bar-css {
                            background-color: $color-primary;
                            height: 100%;
                            width: 80%;
                        }

                        .progress-bar-sass {
                            background-color: $color-primary;
                            height: 100%;
                            width: 70%;
                        }

                        .progress-bar-js {
                            background-color: $color-primary;
                            height: 100%;
                            width: 30%;
                        }

                        .progress-bar-figma {
                            background-color: $color-primary;
                            height: 100%;
                            width: 60%;
                        }

                        .progress-bar-git {
                            background-color: $color-primary;
                            height: 100%;
                            width: 80%;
                        }

                        .progress-bar-linux {
                            background-color: $color-primary;
                            height: 100%;
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    .project__container {
        background-color: $color-primary;
        padding: 2rem;
        @include flexCenter(column, none, center,center);
        .section__title {
            color: $color-secondary;
            font-size: 4rem;
            text-align: center;
        }
        .project__list {
            @include flexCenter(row, wrap, center, center);
            gap: 2rem;
            @include resetList;
            li {
                border: 1px solid $color-secondary;
                a {
                    text-decoration: none;
                    color: $color-secondary;
                    img {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                        object-position: center;
                    }
                    p {
                        font-size: 2.3rem;
                        text-align: center;
                        margin: 0;
                        background-color: $color-secondary;
                        padding: 1rem;
                        color: $color-primary;
                    }
                }
            }         
        }
        .project-btn {
            padding: .3rem 2rem;
            text-decoration: none;
            font-size: 2rem;
            color: $color-secondary;
            border: solid;
            margin-top: 1rem;
        }
    }
}

.footer__container {
    padding: 2rem;
    background-color: $color-primary;
    .footer__contact {
        @include resetList;
        @include flexCenter(row, none, space-around, cen);
        li {
            a {
                text-decoration: none;
                color: $color-secondary;
                font-size: 3rem;
            }
        }
    }
}

.invisible {
    display: none;
}